<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS Project</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input v-model="keywords" type="text" placeholder="Rechercher un film...">
    <ul>
        <movie-item v-for="(movie, index) in searchMovies"
                    v-bind:key="movie.title"
                    v-bind:movie="movie"
                    v-on:edit="edit"
                    v-on:remove="remove">
        </movie-item>
    </ul>

    <button v-on:click="add">Ajouter un film <span class="fa fa-plus-circle"></span></button>
    <p>Nombre de films : {{nbMovies}} </p>

</div>
<script>

    Vue.component('movie-item', {
        props: ['movie'],
        template: `<li @click="displayDetails=!displayDetails"><b>
        {{movie.title}}</b> ({{movie.date}}) - {{movie.real}}<br/>
        <span v-if="displayDetails">{{movie.desc}}<br>
        <button type="button" @click="edit"><i class="fa fa-edit"></i></button>
         <button type="button" @click="remove"><i class="fa fa-trash"></i></button></span>
         </li>`,

        data: function () {
            return {
                displayDetails: false
            }
        },
        methods: {
            edit() {
                this.$emit('edit', this.movie);
            },
            remove() {
                this.$emit('remove', this.movie);
            }
        }
    });

    var app = new Vue({
        el: "#app",
        data : {
            keywords : "",
            displayDetails: false,
            movies: [
                {
                    title  : "Star Wars I",
                    date : "1999",
                    desc : "La menace fantome",
                    real : "George Lucas"
                },
                {
                    title  : "Star Wars II",
                    date : "2002",
                    desc : "L'attaque des clones",
                    real : "George Lucas"
                },
                {
                    title  : "Star Wars III",
                    date : "2005",
                    desc : "La revanche des siths",
                    real : "George Lucas"
                },
                {
                    title  : "Star Wars IV",
                    date : "1977",
                    desc : "Un nouvel espoir",
                    real : "George Lucas"
                },
                {
                    title  : "Star Wars V",
                    date : "1980",
                    desc : "L'empire contre attaque",
                    real : "Irvin Kershner"
                },
                {
                    title  : "Star Wars VI",
                    date : "1983",
                    desc : "Le retour du jedi",
                    real : "Richard Marquand"
                },
                {
                    title  : "Star Wars VII",
                    date : "2015",
                    desc : "Le reveil de la force",
                    real : "J.J. Abrams"
                },
                {
                    title  : "Star Wars VIII",
                    date : "2017",
                    desc : "Les derniers Jedis",
                    real : "Rian Johnson"
                },
            ]
        },
        methods : {
            add : function () {
                var film = prompt('Nom du film à ajouter : ');
                if (film != null) {
                    var date = prompt('Date du film  "' + film + '"');
                    if (date != null) {
                        var real = prompt('Realisateur du film  "' + film + '"');
                        if (real != null) {
                            var desc = prompt('Synopsis du film  "' + film + '"');
                            if (desc != null) {
                                this.movies.push({title:film, date, desc, real});
                            }
                        }
                    }
                }
            },
            edit : function (m) {
                var film = prompt('Modification du film "'
                    + m.title + ' - ' + m.desc +'" (' + m.date + ') de ' + m.real
                );
                if (film != null) {
                    var date = prompt('Date du film (' + m.date + ') "' + film + '"');
                    if (date != null) {
                        var real = prompt('Realisateur du film (' + m.real + ') "' + film + '"');
                        if (real != null) {
                            var desc = prompt('Synopsis du film (' + m.desc + ') "' + film + '"');
                            if (desc != null) {
                                Vue.set(this.movies, this.movies.indexOf(m), {title:film, date, desc, real});
                            }
                        }
                    }
                }
            },
            remove : function (m) {
                var reponse = confirm(
                    'Voulez vous vraiment supprimer "'
                    + m.title + ' - ' + m.desc +'" (' + m.date + ') de ' + m.real + ' ?'
                );
                if (reponse == true) {
                    Vue.delete(this.movies, this.movies.indexOf(m));
                }
            }
        },
        computed: {
            nbMovies: function () {
                return this.movies.length;
            },

            searchMovies : function () {
                if(this.keywords == "")
                    return this.movies;
                else
                    return this.movies.filter(item => item.title.toLowerCase().includes(this.keywords));
            }
        }
    });

</script>
</body>
</html>